.acordeon {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 1rem 0;
    border-radius: 1rem;
    position: relative;
}

.acordeon.open,
.acordeon:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color .25s ease-in-out, border-color .25s ease-in-out ;
}

.acordeon.open {
    border-color: var(--primary-color);
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: #f1432f;
    border: none;
    position: relative;
}

.acordeon .trigger h3 {
    margin: 0;
    font-size: 5rem;
    text-align: start;
}

.acordeon.open .trigger {
    border: none;
    box-shadow: none;
}

/*.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/right-arrow.svg');
    background-position: center;
    transition: transform 0.1s ease-in-out;
    transform: rotate(-90deg);
}

.acordeon.open .trigger::after {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
}*/

.acordeon.open .trigger h3 {
    width: 100%;
    text-align: center;
    color: var(--light-gray-color);
    border: none;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open {
    position: absolute;
    left: 0.;
    top: 40.6rem;
    width: 114rem;
    z-index: 100;
    transition: width .25s ease-in-out;
    max-width: 100vw;
}

.acordeon.open .content {
    display: flex;
    justify-content: space-around;
    height: auto;
    opacity: 1;
    padding: 2rem 1rem 2rem 1rem;
}

.acordeon.open .content .acordeon-vida {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    transition: .25s;
    border-radius: 0.1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin: 1rem;
}

.acordeon.open .content .acordeon-vida.open,
.acordeon.open .content .acordeon-vida:hover {
    background-color: rgba(255, 253, 253, 0.9);
    border-color:var(--white-color);
}

.acordeon.open .content .acordeon-vida .trigger-vida {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon.open .content .acordeon-vida .trigger-vida h6 {
    display: block;
    position: relative;
    margin: 0 0 0.1rem;
}

.acordeon.open .content .acordeon-vida .trigger-vida h6::after {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.acordeon.open .content .acordeon-vida .trigger-vida h6:hover::after {
    width: 100%;
    left: 0%;
}

.acordeon.open .content .acordeon-vida .trigger-vida:hover {
    color: var(--primary-color);
    transition: 0.4s;
}

.acordeon.open .content .acordeon-vida.open .trigger-vida h6 {
    color: var(--primary-color);
    border-bottom: 0.2rem solid var(--primary-color);
}

.acordeon.open .content .acordeon-vida .content-vida {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.acordeon.open .content .acordeon-vida.open .content-vida {
    display: flex;
    justify-content: space-around;
    height: auto;
    opacity: 1;
    padding: 2rem 1rem 2rem 1rem;
    color: var(--primary-color);
}

.acordeon-vida.open .content-vida .img-vida{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}

.acordeon-vida .content-vida .img-vida img{
    max-width: 30%;
    height: auto;
    border-radius: 0.2rem;
    transition: transform 0.3s ease-in-out, max-width 0.3s ease-in-out;
    transform-origin: center center;
}

.acordeon-vida .content-vida .img-vida img:hover{
    box-sizing:border-box;
    margin: 3rem;
    padding: 3rem;
    transform: scale(2);
    max-width: 55%;
    z-index: 101;
    position: relative;
}