
@media (max-width: 768px) {

    .menu-embraer {
        background: none;
        position: absolute;
    }

    .menu ul li a {
        font-size: 1.4rem;
    }

    .menu-content {
        justify-content: space-around;
    }

    .intro-content {
        grid-template-columns: 1fr;
        height: auto;
        gap: var(--gap);
    }

    .intro-content h2 {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .intro-content p {
        font-size: 2rem;
    }

    .intro-text-content {
        margin-bottom: 9rem;
    }

    .intro-text-content p {
        margin-bottom: 0;
    }

    .acordeon .trigger h3 {
        font-size: 3rem;
        text-align: center;
    }
    
    .acordeon.open {
        width: 100%;
        top: 30.6rem;
    }

    .acordeon.open .trigger {
        width: auto;
    }

    .acordeon.open .content {
        display: grid;
        width: auto;
        font-size: 1rem;
        padding: 0;
    }

    .acordeon.open .content .acordeon-vida .trigger-vida {
        padding: 0.3rem 0;
    }

    .acordeon.open .content .acordeon-vida .trigger-vida h6 {
        font-size: 3rem;
    }

    .acordeon-vida .content-vida .img-vida img:hover {
        box-sizing: border-box;
        margin: 1rem;
        padding: 1rem;
        transform: scale(1.3);
        max-width: 55%;
        z-index: 101;
        position: relative;
    }

    .prof-content {
        display: grid;
    }

    .prof-content .tabs-content .tab-prof {
        display: none;
    }

    .prof-content .tabs-content .tab-prof.active {
        height: 70vh;
        position: relative;
        max-width: 50rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0 2rem;
    }

    .prof-content .txt-img:hover img {
        opacity: 0;
        transform: translateY(1rem) translateX(30%);
        width: 1rem;
        height: auto;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 768px;
    }

    .grid-one-content {
        display: grid;
    }
}

@media (max-width: 500px) {

    .menu{
        z-index: 400;
    }

    .menu-embraer {
        background: none;
        position: absolute;
    }

    .menu ul li a {
        font-size: 1.4rem;
    }

    .menu-content {
        justify-content: space-around;
    }

    .intro-content {
        grid-template-columns: 1fr;
        height: auto;
        top: -10rem;
    }

    .intro-text-content {
        margin-bottom: 5rem;
    }

    .intro-text-content p {
        font-size: 1.5rem;
        margin-bottom: 0;
    } 

    .intro-text-content h2 {

        font-size: 4rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        line-height: 1;
    }

    .acordeon.open {
        width: 100%;
        top: 20.6rem;
    }

    .prof-content {
        display: grid;
        padding: 10rem;
    }

   .prof-content .title-triggers {
        display: grid;
        justify-content: space-around;
        width: 100vw;
        font-size: 2rem;
        gap: 0.6rem;
    }

    .prof-content p {
        font-size: 1.5rem;
    }

    .prof-content .tab-trigger {
        font-size: 3.5rem;
        max-width: 100vw;
    }

    .prof-content .tabs-content .tab-prof {
        display: none;
    }

    .prof-content .tabs-content .tab-prof.active {
        height: 65vh;
        position: relative;
        max-width: 100vw;
        display: flex;
        padding: 0 2rem;
    }

    .embraer-bg {
        width: 100vw;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;

        max-width: 768px;
        font-size: 1rem;
    }

    .grid-one-content {
        display: grid;
        padding: 8rem 2rem 2rem 2rem;
    }   

    .grid-one-content h2 {
        display: grid;
        font-size: 5rem;
        margin-bottom: 0rem;
    }   

    .grid-one-content p {
        display: grid;
        font-size: 1.8rem;
        margin-bottom: auto;
    }

    .grid-one-content .grid h3 {
        font-size: 2rem;
    }

    .grid-one-content .grid p {
        font-size: 1.5rem;
        margin-bottom: auto;
    }
}
