.main-bg {
    background-image: url('../img/parabolic-ellipse.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
    background-repeat: no-repeat;
}

.white-bg{
    background: var(--white-color);
    color: var(--embraer-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-embraer{
    height: 6.4rem;
    width: 10rem;
    background-image: url(../img/cdnlogo.com_embraer.svg);
    background-position: center center;
    background-size: cover;
}

.menu-spacing {
    height: 6.5rem;
    background: var(--light-gray-color);
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-content {
    position: relative;
    top: -4rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0.5rem;
}

.intro-text-content {
    top: 19rem;
    justify-content: flex-start;
    position: relative;
}

.intro-text-content h2 {
    font-size: 7rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.1;
}

.intro-img img {
    display: block;
    border-radius: 50%;
    width: 120%;
    max-width: 130%;
    height: auto;
    mask-image: radial-gradient(circle, black 50%, transparent 70%);
}

.vida-table h3 {
    font-size: 5rem;
    border: 0.2rem solid;
    border-radius: 5rem;
    padding: 0 2rem;
}

.prof-content {
    height: 100vh;
    position: relative;
    max-width: 75rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.prof-content p {
    margin-bottom: 0rem;
}

.embraer-bg {
    background-image: url(../img/cdnlogo.com_embraer.svg);
    background-repeat: no-repeat;
    width: 40rem;
    height: 10rem;
    background-size: cover;
    background-position: center center;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h3 {
    font-size: 3rem;
}